<h1> XXI ВЕК</h1>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">


  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <button class="btn btn-info">
      <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/order">Заказы</a>
    </button>
    <button class="btn btn-info">
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/goods">Товары</a>
    </button>
    <button class="btn btn-info">
      <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/addgoods">Новый товар</a>
      </button>
  </nav>
</div>

<router-outlet></router-outlet>

